section.list
{
	display : flex;
	justify-content : space-between;
	flex-wrap:wrap;
}
section.list > div 
{
    width : 30%;
}
section.list img {
	display:inline-block;

}
.short-text {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: grid;
	grid-template-columns: 200px auto;
	grid-template-rows: auto auto;
	justify-content: space-between;
}

strong {
    margin-left: 233px;
}

ul.option li {
    margin-right: 50px;
}




/* modification par Yann */
#titre {
    font-size: 23px;
    text-shadow: 2px 2px 3px black;
}


nav {
    position: fixed;
    width: 100%;
    background-color: #283d5d;
    top: 0;
    right: 0; 
}

main.container {
    margin-top: 60px;
}


ul.options {
    margin-right : 50px;
    
}

.sous {
    display: none;
    border-radius: 5px;
    border: solid 1px black;
    background-color: #283d5d;
    position: absolute;
    top: 55px;
    right: 55px;
    text-align: center;
}

.sous li {
    display: block!important;
    padding: 5px;
    margin-right: 5px!important;
}

nav > ul li:hover .sous {
    display: block;
}

.deroulant a {
    text-decoration: none;
    color: white;
    display: inline-block;
}

.deroulant > a::after {
    content: " ▼ ";
    font-size: 17px;

}

.sous a:hover{
    color: #1399fc;
}

section.connexion {
    display: flex;
    justify-content: space-between;
}

div.authentification {
    width: 45%;
}

div.new {
    width: 45%;
}

/* Styles pour les détails des pistes */

.track-list {
    width: 100%;
    margin: 0 auto;
}

.track-id {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.track-name {
    flex-grow: 1;
    overflow: visible;
    text-overflow: clip;
}

.track-time {
    flex-shrink: 0;
    margin-left: 20px;
}

#tri {
    text-align: right;
}
/* mise en forme du tri */


/*.sous_tri {
    display: none;
    position: absolute;
    text-align: right;
    background-color: black;
}

.tri  {
    color: #a4acba;
    text-align: right;
    display: inline-block;
}

.tri:hover sous_tri {
    display: block;
}


.sous_tri a:hover{
    color: #1399fc;
}*/

.sorting-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.tri-container {
    display: flex;
    align-items: center;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    width: 200px;
    padding: 5px;
    margin-right: 10px;
}

.back-form {
    display: inline-block;
}

.search-genre {
    margin-right: 10px;
    padding: 5px;
    font-size: 14px;
}

.tri-select {
    width: 55%;
}

.tri-button {
    width: 55%!important;
}

form.search-form {
    margin-left: -200px;
}

form.create-playlist-form {
    width: 40%;
    margin: 0 auto;
}

form.add-song-form {
    width: 40%;
    margin: 0 auto;
}

form.generate-playlist-form {
    width: 40%;
    margin: 0 auto;
}

section.playlists {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 100px;
    margin-top: 50px;
}

.btn-supp {
    width: 30%;
}

.btn.btn-secondary {
margin-left: 50px;
}
/* bouton ajouter sur les albums et musique */

.ajout-albums {
    padding: 0;
    margin-top: 5px;
    grid-column: 2/3;
    grid-row: 2/3;
}

.ajout-artistes {
    padding: 0;
    margin-bottom: 20px;
    grid-column: 2/3;
    grid-row: 2/3;
}

.ajout-album-list {
    padding: 0;
    margin-top: 10px;
    grid-column: 2/3;
    grid-row: 2/3;
}

.musics-album {
    margin-bottom: 0;
}

.error_msg{
    color: #E93131;
}
